{
  "NosFunction": {
    "ADMIN_EMAIL": "placeholder@example.com",
    "NOS_EMAIL_SOURCE": "no-reply@yourdomain.com",
    "MONGODB_URI": "mongodb+srv://user:password@cluster.mongodb.net/?appName=<cluster>"
  }
}